src/main/mule/dataviewconcepts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a4c34526-e4e0-4bdb-89fb-420a04fe5d3c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataviewconceptsFlow" doc:id="b5d99e69-5a88-40c4-a119-196ad164119a" >
		<http:listener doc:name="Listener" doc:id="048605dd-86f8-4ee9-a16c-ad9390326f76" config-ref="HTTP_Listener_config" path="cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="d8635f62-4a8a-44d9-b008-a0a99d697243" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88df8f0d-51f7-444a-91bb-7b5309a6a50b" message="#[payload]"/>
	</flow>
</mule>
